/* ---------------------navbar------------------- */

.navbar-inverse .navbar-brand, .navbar-inverse a{
    color: #e7dfdd;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.5em;
    
    
    
  }
  .navbar-inverse .navbar-nav>li>a {
    color: rgb(228, 120, 69);
    font-size: 2em;
    font-weight: 600;
    
  } 

 /* ----------------------navbar transition--------------  */

 .navbar-inverse .navbar-brand, .navbar-inverse a{
     transition: all .4s ease-in;
     -webkit-transition: all .4s ease-in;
     -moz-transition: all .4s ease-in;
     -o-transition: all .4s ease-in;

 } 

 .navbar-inverse .navbar-nav>li>a {
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    
 }

 /* ---------------jumbotron---------------- */

 .jumbotron {
    background: transparent;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 0px;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
    color: #2c2b2a;
    
    
    
}


 /* -------------album out---------- */
 h2 {
	font-weight: 600;
    font-size: 5em;
    color: #fcfcfc;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.5),
                 0px 18px 23px rgba(0,0,0,0.5);
}
 .content{
	
    text-align: center;
    
    
    }


    .btn-default {
        background-color: rgb(228, 120, 69);
        border-color: rgb(228, 120, 69);
        font-size: 2em;
        font-weight: 500;
        color: black;
    }

    .btn-default:hover {
        background-color: black;
        color: rgb(228, 120, 69);
        border-color: black;
        font-size: 2em;
        font-weight: 600;
    }

   .btn-default
   {
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
  }  

/* ----------------body--------------- */

#index-front {
    background: url("images/olsenhome.jpg");
    background-size: cover;
    background-position: center; 
    
}

#tour-front,  #contact-front, #gallery-front{
    background-color: rgb(235, 190, 170);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    padding-top: 70px;
    
}

body,
html {
    width: 100%;
    height: 100%;
    
    
    font-family: 'Amatic SC', cursive;


}

body { padding-top: 70px;
        

}


blockquote { 
    color:  #e7dfdd;
    background-color: black;
    font-weight: 600;
    font-size: 2em;
    

}



/* ---------------footer main page------------ */

footer {
    background: transparent;
    height: 10px;
    padding-top: 340px;
    padding-left: 
    /* clear: both; */
    

  }

 
  

  /* ------------default style of footer-------- */
  footer li a {

    color: rgb(228, 120, 69);
    font-size: 30px;
    padding: 10px;
    transition: all .4s ease-in;

   
  }
  
  
  footer a:hover {
    color: #e7dfdd;
  }

ul li {
    display: inline-block;
  
    
}

footer ul li {
    
    padding: 2px;
}

/* -----------------footer for other pages (adjustment to original)------------ */

.otherfooter {
    background-color: black; 
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%; 
    
    

}

.list {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.copyright {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 2em;

}


/* contact form-------------------- */

#form {
    margin-top: 50px;
    padding: 30px;
   
    
      
    
}

legend {
    font-size: 30px;
    font-weight: 600;
    color: rgb(48, 47, 47);

}

.icon {
    font-size: 25px;
    color: rgb(228, 120, 69);
}

.btn-primary {
    border-color: rgb(228, 120, 69);
    background-color: rgb(228, 120, 69);
    color: rgb(48, 47, 47);;
    font-size: 22px;
    font-weight: 600;
}

.btn-primary
   {
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
  }  

.form-control {
    font-size: 20px;
    color: black;
    border: transparent;

    

}

h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    color: rgb(61, 58, 58);

}

.well {
    background-color:rgb(240, 237, 226);
    border: transparent
    ;
    
}
.well-sm {
    border-color: #6E7889;
    
}




/* ------------------------tour---------------------- */

.table {
    background-color: white;
    font-size: 1.5em;
    font-weight: 600;
}

/* -------------media--------------- */
.audio {
    
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
    
    
}

blockquote {
    background-color: transparent;
    color: #eee9e7;
}

.embed-responsive-item {
    padding-bottom: 20px;
}
