/* ---------------------navbar------------------- */

.navbar-inverse .navbar-brand, .navbar-inverse a{
    color: #e7dfdd;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.5em;
    
    
    
  }
  .navbar-inverse .navbar-nav>li>a {
    color: rgb(228, 120, 69);
    font-size: 2em;
    font-weight: 600;
    
  } 

 /* ----------------------navbar transition--------------  */

 .navbar-inverse .navbar-brand, .navbar-inverse a{
     transition: all .4s ease-in;
     -webkit-transition: all .4s ease-in;
     -moz-transition: all .4s ease-in;
     -o-transition: all .4s ease-in;

 } 

 .navbar-inverse .navbar-nav>li>a {
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    
 }

 /* ---------------jumbotron---------------- */

 .jumbotron {
    background: transparent;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 0px;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
    color: #2c2b2a;

    
    
    
    
}


 /* -------------album out---------- */
 
 }

   .front-text {
       background-color: white;
       border: 2px solid orange;
   }

   .front-picture {
       background: url("images/another.jpeg");
       background-position: center;
       background-size: cover;
       min-height: 1100px;
       outline: 0.666vw solid rgba(0,0,0,0.5);
       mix-blend-mode: hard-light;
       color: white;

   }

   .front-header {
    color: rgb(236, 182, 159);
    font-family: 'Niramit', sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding: 0px;

   }

   .front-header2 {
    color: rgb(238, 223, 223);
    font-family: 'Niramit', sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding: 0px;


   }

   a:hover {
       text-decoration: none;
   }

   a:active { text-decoration: none;

   }

   
   .front-header2:hover {
       color: rgb(236, 182, 159);
       text-decoration: none;
       cursor: pointer;
       

       transition: all .4s ease-in;
       -webkit-transition: all .4s ease-in;
       -moz-transition: all .4s ease-in;
       -o-transition: all .4s ease-in;
   }


/* ----------------body--------------- */



#index-front, #tour-front,  #contact-front, #gallery-front, #about-front{
    background-color: rgb(233, 178, 142);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    padding-top: 70px;
    
}

body,
html {
    width: 100%;
    height: 100%;
    
    
    font-family: 'Amatic SC', cursive;


}


h3 {
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    
    color: rgb(61, 58, 58);

}
blockquote { 
    color:  #e7dfdd;
    background-color: black;
    font-weight: 600;
    font-size: 2em;
    

}

@media only screen and (max-width: 600px) { 

    .front-picture {
        background: url("images/anothercropped.jpg");
        background-size: cover;
        background-position: center;
    }
}
  

  /* ------------default style of footer-------- */
  footer li a {

    color: rgb(228, 120, 69);
    font-size: 30px;
    padding: 10px;
    transition: all .4s ease-in;

   
  }
  
  
  footer a:hover {
    color: #e7dfdd;
  }

ul li {
    display: inline-block;
  
    
}

footer ul li {
    
    padding: 2px;
}


.otherfooter {
    background-color: black; 
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%; 
    
    

}

.list {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.copyright {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 2em;

}


/* contact form-------------------- */

#form {
    margin-top: 50px;
    padding: 30px;
   
    
      
    
}

legend {
    font-size: 20px;
    font-weight: 500;
    color: rgb(48, 47, 47);
    font-family: 'Niramit', sans-serif;

}

.icon {
    font-size: 25px;
    color: rgb(228, 120, 69);
}

.btn-primary {
    border-color: rgb(228, 120, 69);
    background-color: rgb(228, 120, 69);
    color: rgb(48, 47, 47);;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Niramit', sans-serif;
}

.btn-primary
   {
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
  }  

.form-control {
    font-size: 15px;
    color: black;
    border: transparent;
    font-family: 'Niramit', sans-serif;

    

}
    

}

.well {
    background-color:rgb(240, 237, 226);
    border: transparent
    ;
    
}
.well-sm {
    border-color: #6E7889;
    
}




/* ------------------------tour---------------------- */

.table {
    background-color: white;
    font-size: 1.5em;
    font-weight: 600;
}

/* -------------media--------------- */
.audio {
    
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
    
    
}

blockquote {
    background-color: transparent;
    color: #eee9e7;
}

.embed-responsive-item {
    padding-bottom: 20px;
}

/* -----------about-------------- */
.first {
    background-color: transparent;
    border: 2px solid rgb(206, 130, 111);
    text-align: center;
    font-family: 'Niramit', sans-serif;
    margin: 10px;
    padding: 10px;
    font-size: 11px;
}



hr {
    margin-left: 25%;
    margin-right: 25%;
    
}